@model Demo01.Models.MemberResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>demoView</title>
</head>
<body>
    <div> 
        <h2> 안녕하세요!! @Model.Name 님 </h2>
        @if (Model.Attend == true)
        {
            @:출석
        }
        else
        {
            @:결석
        }
    </div>
</body>
</html>
