
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div{
            font-size: 20px;
            color: palevioletred;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div> 
        @*Hello World*@
        @ViewBag.Insa 되세요!!  <!-- Razor 표현식 -->
    </div>
</body>
</html>
