@model Demo01.Models.MemberResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<!--
    이러한 뷰를 Strongly Type View라고 한다. 
    
    이 뷰는 특정 도메인 형식을 렌더링 하기 위한 뷰이다.

    이 뷰를 이용하면 MVC 프레임워크에서 뷰를 만들 때 유용한 기능들을

    제공하게 된다.
-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestForm</title>
</head>
<body>
    <div>

        <!-- 아래와 같음
        <form action="/Home/TestForm" method="post">
            ..
        </form>
        -->
        <!--Form 태그의 시작을 알림 -->
        @using (Html.BeginForm())
        {
            <p> 이 름: @Html.TextBoxFor(a => a.Name)</p> // <input id = "Name" name = "Name" type="text" value=""/>
            <p> 이메일 : @Html.TextBoxFor(a => a.Email)</p>
            <p> 전화번호 : @Html.TextBoxFor(a => a.Tel)</p>
            <p>
                출석여부 : @Html.DropDownListFor(a => a.Attend, new[]{
                      new SelectListItem() {Text = "Yes", Value = bool.TrueString},
                      new SelectListItem() {Text = "No", Value = bool.FalseString},
                    }, "선택하세요")
            </p>

            <input type="submit" value="확인" />
        }

    </div>
</body>
</html>
