@model Demo01.Models.MemberResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<!--
    이러한 뷰를 Strongly Type View라고 한다. 
    
    이 뷰는 특정 도메인 형식을 렌더링 하기 위한 뷰이다.

    이 뷰를 이용하면 MVC 프레임워크에서 뷰를 만들 때 유용한 기능들을

    제공하게 된다.
-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestForm</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
