@page "/pdftransform"
@inject IJSRuntime JS

<PageTitle>PDF 변환</PageTitle>

<form id="form1">
    <div id="text">
        Convert this text to PDF
        한글은?
        <br/>
        <br/>
        <img src="캡처.PNG"/>
    </div>
    <input type="button" value="PDF 출력하기" id="btnPrint" @onclick="btnClick"/>
</form>

@code {

    private void btnClick()
    {
        JS.InvokeVoidAsync("btnPrint");
    }
}
