<div class="search">
    <i class="oi oi-eye"></i>
    <input placeholder="Search..."
        @attributes="AddtionalAttributes" @bind="SearchQuery" @bind:event="oninput"/>
    <input type="button" value="Search" @onclick="Search"/>
</div>